<h1>DevExpress ASP.NET Security Best Practices (Mvc)</h1>
<ul>
    <li style="list-style:none">
        <h2>1. Uploading Files</h2>
        <ul>
            <li>@Html.ActionLink("Validation", "Validation", "UploadingFiles") (Prevent Uploading Malicious Files)</li>
            <li>@Html.ActionLink("In Memory Processing", "InMemoryProcessing", "UploadingFiles") (Prevent Uncontrolled Resource Consumption)</li>
            <li>@Html.ActionLink("Saving Temporary Files", "SavingTemporaryFiles", "UploadingFiles") (Protect Temporary Files)</li>
        </ul>

        <h2>2. Uploading and Displaying Binary Images</h2>
        <ul>
            <li>@Html.ActionLink("Upload Control", "UploadControl", "UploadingBinaryImages")</li>
            <li>@Html.ActionLink("Binary Image Viewer", "BinaryImageViewer", "UploadingBinaryImages")</li>
            <li>@Html.ActionLink("Binary Image", "BinaryImage", "UploadingBinaryImages")</li>
        </ul>

        <h2>3. Authorization</h2>
        <ul>
            <li>
                <h3>Reports</h3>
                <ul>
                    <li>@Html.RouteLink("Public Report", "ReportsAuthorization", new { controller = "Authorization", action = "PublicReport" })</li>
                    <li>@Html.RouteLink("Report Viewer", "ReportsAuthorization", new { controller = "Authorization", action = "ReportViewer" }) (with ability to edit report via Report Designer)</li>
                </ul>
            </li>
            <li>
                <h3>Dashboards</h3>
                <ul>
                    <li>@Html.RouteLink("Public Dashboard", "DashboardsAuthorization", new { controller = "Authorization", action = "PublicDashboard" }) (View only)</li>

                    <li>@Html.RouteLink("Dashboard", "DashboardsAuthorization", new { controller = "Authorization", action = "Dashboard" }) (Editable)</li>
                </ul>
            </li>
            <li>
                <h3>Query Builder</h3>
                <ul>
                    <li>@Html.ActionLink("Query Builder", "QueryBuilder", "Authorization")</li>
                </ul>
            </li>
        </ul>

        <h2>4. UsingAntiForgegyToken</h2>
        <ul>
            <li>@Html.ActionLink("Editable Grid", "EditForm", "UsingAntiForgegyToken")</li>
            <li>@Html.ActionLink("Editable Dashboard", "EditDashboard", "UsingAntiForgegyToken")</li>
        </ul>
    </li>
</ul>
