<h1>DevExpress Mvc Security Best Practices</h1>
<ul>
    <li style="list-style:none">
        <h2>1. UploadingFiles</h2>
        <ul>
            <li>@Html.ActionLink("Upload Validation", "UploadValidation", "UploadingFiles")</li>
        </ul>

        <h2>3. Authorization</h2>
        <ul>
            <li>
                <h3>Reports</h3>
                <ul>
                    <li>@Html.RouteLink("Public Report", "ReportsAuthorization", new { controller = "Authorization", action = "PublicReport" })</li>
                    <li>@Html.RouteLink("Report Viewer", "ReportsAuthorization", new { controller = "Authorization", action = "ReportViewer" }) (with ability to edit report via Report Designer)</li>
                </ul>
            </li>
            <li>
                <h3>Dashboards</h3>
                <ul>
                    <li>@Html.RouteLink("Public Dashboard", "DashboardsAuthorization", new { controller = "Authorization", action = "PublicDashboard" }) (View only)</li>

                    <li>@Html.RouteLink("Dashboard", "DashboardsAuthorization", new { controller = "Authorization", action = "Dashboard" }) (Editable)</li>
                </ul>
            </li>
            <li>
                <h3>Query Builder</h3>
                <ul>
                    <li>@Html.ActionLink("Query Builder", "QueryBuilder", "Authorization")</li>
                </ul>
            </li>
        </ul>

        <h2>4. UsingAntiForgegyToken</h2>
        <ul>
            <li>@Html.ActionLink("Using AntiForgegyToken", "EditForm", "UsingAntiForgegyToken")</li>
        </ul>
    </li>
</ul>
