<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>DevExpress ASP.NET Security Best Practices (Mvc)</title>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Report }
       )

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
</head>

<body>
    <div>
        @Html.ActionLink("Home", "Index", "Home")
        <div class="login-panel">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <hr />
    <div>
        @RenderBody()
    </div>
</body>
</html>