@model EditFormItem

@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.DevExpress().TextBoxFor(m => m.ProductName, settings => {
        settings.Properties.Caption = "ProductName";
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(settings => {
            settings.Name = "UpdateButton";
            settings.Text = "Submit";
            settings.UseSubmitBehavior = true;
        }).GetHtml()

    <script>
        var s = "@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(Model.ProductName))";
        // DoSomething(s);
    </script>
    <hr />
    <p>Entered value: @Model.ProductName</p>
    @*<p>Entered value (no encoding - not secure!): @Html.Raw(Model.ProductName)</p>*@
    <p><a href="javascript:alert(s)">Show js variable</a></p>
}