@model IEnumerable

<h2>GridView - Hidden column access</h2>

@using(Html.BeginForm()) {
    @Html.Partial("GridViewPartial", Model)
    <hr />
    <script>
        function getRowValues() {
            gridView.GetRowValues(0, 'SecretKey', function (Value) {
                alert(Value);
            });
        }

        function deleteRow() {
            gridView.DeleteRow(0)
        }

        function sendDeleteRowRequest() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GridViewDeletePartial", "ClientSideApi")',
                data: {
                    id: 3
                }
            });
        }
    </script>

    @Html.DevExpress().Button(settings => {
           settings.Name = "button";
           settings.Width = 164;
           settings.Text = "GetRowValues()";
           settings.ClientSideEvents.Click = "getRowValues";
        }).GetHtml()

    <br /><br />
    @Html.DevExpress().Button(settings => {
           settings.Name = "crudButton";
           settings.Width = 164;
           settings.Text = "DeleteRow(0)";
           settings.ClientSideEvents.Click = "deleteRow";
        }).GetHtml()
    <br /><br />
    @Html.DevExpress().Button(settings => {
           settings.Name = "sendButton";
           settings.Width = 164;
           settings.Text = "sendDeleteRowRequest";
           settings.ClientSideEvents.Click = "sendDeleteRowRequest";
        }).GetHtml()
    
}